
@import "base/index";

@import "componenets/index";

* {
  font-size: 13px;
  outline: none !important;
}

body {
  margin: 0;
  font-family: Barlow,sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #f5f6f8;
  padding-bottom: 60px;
  overflow-x: hidden;
}


//#topnav {
//  background: #343b4a;
//  position: fixed;
//  left: 0;
//  right: 0;
//  z-index: 1001;
//  padding: 0 12px;
//
//  .navbar-custom {
//    position: fixed;
//    left: 0;
//    right: 0;
//    height: 70px;
//    z-index: 100;
//
//    .topnav-menu>li {
//      float: left;
//    }
//
//    .notification-list {
//      margin-left: 0;
//    }
//
//    @media (min-width: 1200px) {
//      .container-fluid {
//        max-width: 90%;
//      }
//    }
//
//    .topnav-menu .nav-link {
//      padding: 0 15px;
//      color: rgba(255,255,255,.8);
//      min-width: 32px;
//      display: block;
//      line-height: 70px;
//      text-align: center;
//      max-height: 70px;
//    }
//  }
//
//  .navbar-toggle {
//    border: 0;
//    position: relative;
//    padding: 0;
//    margin: 0;
//    cursor: pointer;
//  }
//
//}

.filterable-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin-top: -15px;

  .filterable-sort {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
  }

  .form-input {
    color: #484746;
    line-height: 16px;
    font-size: 11px;
    height: 22px !important;
    background: #fafafa;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 0 !important;
    width: 100%;
    display: block;
    border-radius: 0 !important;
  }

  .form-input-sm {
    display: inline-block!important;
    width: 50px;
    padding: 4px;
    height: 20px;
  }

  i {
    color: #3aa3e3;
    font-size: 10px;
  }

  .form-input {
    color: #484746;
    line-height: 16px;
    font-size: 13px;
    height: 32px;
    background: #fafafa;
    transition: background .2s;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.01);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    display: block;
  }
}

.card {
  border: none;
  -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  margin-bottom: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eef2f7;
  border-radius: .25rem;
  border: none !important;

  .avatar-xs {
    height: 1.5rem;
    width: 1.5rem;
  }

  .rounded-circle {
    border-radius: 50%!important;
  }

  .badge-success {
    color: #fff;
    background-color: #0acf97;
  }

  .badge-secondary {
    color: #fff;
    background-color: #6c757d;
  }

  h4 {
    color: #6C757D;
    font-weight: 700;
    font-size: 16px;
  }

  .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }

  .form-control-light {
    background-color: #f1f3fa!important;
    border-color: #f1f3fa!important;
  }

  .media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    h5.mt-0 {
      line-height: 1.1;
      font-size: 15px;
      color: #6c757d;
      margin: 10px 0;
      font-weight: 700;
    }
  }

  .shadow-none {
    -webkit-box-shadow: none !important;
  }

  .border {
    border: 1px solid #dee2e6!important;
  }

  .p-2 {
    padding: .75rem!important;
  }

  .align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
  }

  h5.card-title {
    font-weight: 700;
    color: #6c757d;
  }

  .col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .avatar-sm {
    height: 3rem;
    width: 3rem;
  }

  .text-muted {
    color: #98a6ad!important;
  }
  .font-weight-bold {
    font-weight: 700!important;
  }

  .avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #727cf5;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 600;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  .mt-3, .my-3 {
    margin-top: 1.5rem!important;
  }

  .text-center {
    text-align: center!important;
  }

  .mt-2, .my-2 {
    margin-top: .75rem!important;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }

  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
    font-family: Nunito,sans-serif;
    font-weight: 400;
    line-height: 1.5;

    .text-title {
      color: #6c757d;
      font-size: 18px;
      line-height: 1.1;
      font-weight: 700;
    }

    .card-widgets {
      float: right;
      height: 16px;

      a {
        color: inherit;
        font-size: 18px;
        display: inline-block;
        line-height: 1;

        i {
          color: #6c757d !important;
        }
      }
    }
  }
}

div#view-project {
  color: #6c757d;

  h3.mt-0 {
    font-weight: 700;
    color: #6c757d;
    font-size: 22px;
    margin-bottom: 10px;
  }

  textarea.form-control {
    height: auto;
    outline: none !important;
  }

  .form-control-light {
    background-color: #f1f3fa!important;
    border-color: #f1f3fa!important;
  }

  h5 {
    color: #6c757d;
    font-size: 15px;
    font-weight: 800;
    margin-top: 10px;
  }
  p {
    color: #98A6AD !important;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .avatar-sm {
    height: 3rem;
    width: 3rem;
  }

  .rounded-circle {
    border-radius: 50%!important;
  }

  .text-muted {
    color: #98a6ad!important;
  }

  .small, small {
    font-size: .75rem;
    font-weight: 400;
  }

  .mb-4, .my-4 {
    margin-bottom: 2.25rem!important;
  }

  .img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
  }

  .mb-4, .my-4 {
    margin-bottom: 2.25rem!important;
  }
}

.font-13 {
  font-size: 13px!important;
}

.text-muted {
  color: #98a6ad!important;
}

.font-weight-bold {
  font-weight: 700!important;
}

.text-nowrap {
  white-space: nowrap!important;
}

.d-inline-block {
  display: inline-block!important;
}

b, strong {
  font-weight: 700;
}

.text-muted {
  color: #98a6ad!important;
}

.mb-3, .my-3 {
  margin-bottom: 1.5rem!important;
}

.mt-0, .my-0 {
  margin-top: 0!important;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
}

.float-right {
  float: right!important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.flex-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}

.pr-5, .px-5 {
  padding-right: 1rem!important;
}

a {
  text-decoration: none !important;
}

.avatar-sm {
  height: 3rem;
  width: 3rem;
}

.rounded-circle {
  border-radius: 50%!important;
}

.text-muted {
  color: #98a6ad!important;
}

.small, small {
  font-size: .75rem;
  font-weight: 400;
}

.mb-4, .my-4 {
  margin-bottom: 2.25rem!important;
}

.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

small {
  font-size: 80%;
}

.f-z-16 {
  font-size: 16px !important;
}


.filter {
  &-item {
    margin-bottom: 15px;
    display: flex;
  }
  &-column {
    padding-right: 15px;
    width: 25%;
  }
  &-operator {
    padding-right: 15px;
    width: 25%;
  }
  &-query_1 {
    width: 24%;
    padding-right: 15px;
  }
  &-full {
    width: 48%;
  }
  &-query_2 {
    width: 24%;
  }
  &-remove {
    width: 2%;
    text-align: right;
    button {
      color: $color-error;
      background: transparent;
      border: none;
      font-weight: bold;
    }
  }
}

.filterable {
  &-export {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
}

div#dropzone {
  border: 2px dashed #dee2e6;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  min-height: 150px;
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}

li.typeahead-item:hover {
  color: #fff !important;
}

div#tasks {
  background: transparent;

  .page-title-box {
    background-color: transparent;
    box-shadow: 0 0px 0 0 rgba(154, 161, 171, 0.1) !important;
    padding: 0 !important;

    .page-title-right {
      float: right;
      margin-top: 20px;

      .app-search .form-control {
        border: none;
        height: 38px;
        padding-left: 40px;
        padding-right: 20px;
        background-color: #f1f3fa;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .mdi-magnify::before {
        content: "\F349";
      }

      .input-group-append {
        margin-left: 0;
        z-index: 4;
      }

      .app-search {
        span {
          position: absolute;
          z-index: 9;
          font-size: 20px;
          line-height: 38px;
          left: 10px;
          top: 0;
        }
      }

      .input-group {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
      }
    }

    .page-title {
      font-size: 18px;
      margin: 0;
      line-height: 75px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: inherit;

      .btn-sm {
        padding: 0.28rem 0.8rem !important;
        font-size: 0.875rem !important;
        line-height: 1.5 !important;
        border-radius: 0.15rem !important;
      }
    }

    .btn-success {
      color: #fff;
      background-color: #0acf97;
      border-color: #0acf97;
      -webkit-box-shadow: 0 2px 6px 0 rgba(10,207,151,.5);
      box-shadow: 0 2px 6px 0 rgba(10,207,151,.5);
    }
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }

  .card {
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    margin-bottom: 24px;
    margin-top: 14px;

    .card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-height: 1px;
      padding: 25px !important;

      .custom-control {
        position: relative;
        display: block;
        min-height: 1.35rem;
        padding-left: 1.5rem;

        .custom-control-input {
          position: absolute;
          left: 0;
          z-index: -1;
          width: 1rem;
          height: 1.175rem;
          opacity: 0;
        }

        .custom-control-label {
          position: relative;
          margin-bottom: 0;
          vertical-align: top;
          font-size: 15px !important;
        }

        .custom-control-label::before {
          border-radius: .25rem;
          position: absolute;
          top: .175rem;
          left: -1.5rem;
          display: block;
          width: 1rem;
          height: 1rem;
          pointer-events: none;
          content: "";
          background-color: #fff;
          border: #dee2e6 solid 1px;
        }
      }

      .avatar-xs {
        height: 1.5rem;
        width: 1.5rem;
      }

      .list-inline-item:not(:last-child) {
        margin-right: 6px;
      }

      .list-inline-item {
        display: inline-block;
        color: #6c757d;
      }
    }

    .badge-danger-lighten {
      color: #fa5c7c;
      background-color: rgba(250,92,124,.18);
    }

    .p-1 {
      padding: .375rem!important;
    }
    .badge {
      display: inline-block;
      padding: .25em .4em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
      -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }

    .badge-info-lighten {
      color: #39afd1;
      background-color: rgba(57,175,209,.18);
    }

    .badge-success-lighten {
      color: #0acf97;
      background-color: rgba(10,207,151,.18);
    }
  }

  .tasks-sidebar {
    .custom-control {
      position: relative;
      display: block;
      min-height: 1.35rem;
      padding-left: 1.5rem;
    }

    .mt-4, .my-4 {
      margin-top: 2.25rem!important;
    }

    .mb-2, .my-2 {
      margin-bottom: .75rem!important;
    }

    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid #eef2f7;
    }

    h4 {
      line-height: 1.1;
      color: #6c757d;
      font-size: 18px;
      margin: 10px 0;
      font-weight: 700;
    }

    .media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  }
}

.mt-2, .my-2 {
  margin-top: .75rem!important;
}

.text-dark {
  color: #313a46!important;
}

.pb-2, .py-2 {
  padding-bottom: .75rem!important;
}

.font-18 {
  font-size: 18px!important;
}

.text-muted {
  color: #98a6ad!important;
}

.font-13 {
  font-size: 13px!important;
}

.text-right {
  text-align: right!important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.font-16 {
  font-size: 16px!important;
}

.ml-1, .mx-1 {
  margin-left: .375rem!important;
}

.mr-1, .mx-1 {
  margin-right: .375rem!important;
}

.mb-4, .my-4 {
  margin-bottom: 2.25rem!important;
}

.mt-4, .my-4 {
  margin-top: 2.25rem!important;
}

.mt-4, .my-4 {
  margin-top: 2.25rem!important;
}

.font-18 {
  font-size: 18px!important;
}

.text-success {
  color: #0acf97!important;
}

.mr-1, .mx-1 {
  margin-right: .375rem!important;
}

div#addTaskModal {
  font-size: 14px !important;

  .modal-title span {
    color: #6c757d;
    font-size: 18px;
    font-weight: 600;
  }

  select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
  }

  .task-modal-content .form-control-light {
    background-color: #f7f9fb!important;
    border-color: #f7f9fb!important;
  }

  .form-control-light {
    background-color: #f1f3fa!important;
    border-color: #f1f3fa!important;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    outline: none !important;
  }

  textarea.form-control {
    height: auto;
  }

  label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: #5f6d84;
  }
}

div#invoice-form {
  .form-label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: #5f6d84;
  }

  tr {
    background: transparent !important;
    box-shadow: none !important;
  }

  table thead tr th {
    border: none !important;
  }
}

.form-input[disabled] {
  opacity: .75;
  cursor: not-allowed;
  background: #ececec;
}

div#todayTasks {
  label.custom-control-label {
    a {
      color: #6c757d!important;
      font-size: 16px;
      font-weight: 600;
      /* font-size: .9375rem; */
    }
  }

}